@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  border: 0px solid;
  display: flex;
  flex-direction: column;
}


body {
  font-family: 'Dancing Script', cursive;
  font-size: 1.1rem;
  line-height: 2rem;
  color: #999;
  letter-spacing: 0.1px;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;

}

span,
p,
h6,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Dancing Script', cursive;
}
img {
  object-fit: contain;
}

div,
article,
section {
  display: flex;
  flex-direction: column;
  /* padding-left: 3rem; */
}

h1 {
  font-size: 7rem;
  line-height: 7rem;
  text-transform: uppercase;
}

h2 {
  font-size: 6rem;
  line-height: 6rem;
}

h3 {
  font-size: 5rem;
  line-height: 5rem;
}

h4 {
  font-size: 4rem;
  line-height: 4rem;
}

h5 {
  font-size: 2.6rem;
  line-height: 2.6rem;
}

h6 {
  font-size: 2rem;
  line-height: 2rem;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #222;
}

a:hover {
  color: #000;
}

button {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #ccc;
  background: white;
  transition: 0.3s;
}

button:hover {
  background: crimson;
  color: white;
  cursor: pointer;
}

ul li {
  list-style: none;
}

/***************************start******************************/
a.top {
  position: fixed;
  right: 5%;
  bottom: 100px;
  display: none;
  font-size: 2.6rem;
  color: #222;
  z-index: 99;
  background: #eee;
  padding: 5px 10px 10px 10px;
}

main {
  margin: 0 auto;
  position: relative;
  width: 100vw;
}

.mi {
  height: 1080px;
  background: url('./20240519122511_IMG_9785.JPG') no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 100vw; */
}

header {
  padding: 6rem 0 3.6rem 0;
}

.hd {
  /* width: 1200px; */
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  background: none;
  flex-direction: column;
}

.hd img {
  width: 45px;
  margin: auto 10px;
}

.hd ul li {
  display: inline-block;
}

.hd a {
  position: relative;
  z-index: 99;
}

.hd .logo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  font-weight: 900;
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: 2px;
  color: #fffdf9;
  margin-top: 10vh;
  padding-top: 20vh;
  /* margin: auto; */
  text-shadow: 5px 5px 10px #000;
  text-align: center;
}

.ben {
  /* width: 100vw; */
  /* height: 180px; */
  /* margin: 0 auto; */
  /* padding-top: 20px; */
  background: #fef7ee;
  /* text-align: center; */
  /* position: absolute; */
  /* bottom: -15%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* z-index: 9; */
  padding: 10%;
}

.ben h1 {
  color: #333;
  font-size: 4.6rem;
  margin: 20px auto;
}

.a12r {
  flex-direction: row;
}

.ben h2 {
  color: #444;
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.6rem;
}

.at1 {
  clear: both;
  text-align: center;
  /* padding-bottom: 26rem; */
  /* margin-top: 5vh; */
  /* padding-left: 30px; */
  /* padding-right: 30px; */
}

.a11 {
  /* height: 730px; */
  /* padding: 10rem 0; */
  background: #fef7ee;
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 2.6rem;
  color: #222;
  position: relative;
}

.a11 h2 {
  font-size: 4rem;
  line-height: 4rem;
  margin: 4rem;
}

.a11 p {
  font-size: 3rem;
  line-height: 3.6rem;
}

.a12 {
  /* width: 1200px; */
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  /* min-width: 320px; */
}

.a12 img {
  min-width: 320px;
  /* width: 500px; */
  flex: 1;
  /* height: 500px; */
  width: 90%;
}

.a12 h2 {
  text-align: left;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 300;
  color: #222;
  bottom: 20px;
}

.a12 h3 {
  font-size: 3rem;
  font-weight: 100;
  color: #333;
  line-height: 3rem;
  letter-spacing: 0.2px;
  margin-bottom: 60px;
  margin-left: 5px;
  justify-content: space-between;
}

.a12 > :last-child {
  /* position: absolute; */
  /* bottom: -55%; */
  flex: 2;
}

.a12 .a {
  padding: 10px 30px;
  margin: auto 10px;
  border: 1px solid #e7d9ca;
  background: #e7d9ca;
  color: #222;
  transition: 0.3s;
  opacity: 0.8;
}

.a12 .a:hover {
  background: #e7d9ca;
  color: #222;
  opacity: 1;
}

.at2 {
  clear: both;
  /* padding: 10rem 0; */
}

.a21 {
  align-items: center;
  /* width: 1200px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.spa21 {
  /* width: 400px; */
  height: 1px;
  background: #222;
  /* display: block; */
  margin-top: 15px;
}

.a21 h3 {
  color: #222;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 10rem;
  line-height: 10rem;
}

.spa22 {
  /* width: 400px; */
  height: 1px;
  background: #222;
  /* display: block; */
  margin-top: 15px;
}

.a22 {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  /* overflow-x: hidden; */
  align-items: center;
}

.a22 section {
  flex: 0;
  margin: 50px 50px 50px 7px;
  position: relative;
  min-width: 320px;
  align-items: center;
}

.a22 section .a2233 {
  width: 350px;
  height: 300px;
  background: #ebeeeb;
  display: block;
}

.a22 section h4 {
  font-weight: 300;
  margin-left: 0;
  color: #333;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 15px;
}

.a22 section img {
  width: 300px;
  position: absolute;
  height: 300px;
  object-fit: cover;
  top: 11%;
  left: 90px;
  cursor: pointer;
  transition: 0.8s;
}

.a22 section img:hover {
  width: 330px;
}

.a23 {
  width: 1200px;
  padding-top: 50px;
  margin: 0 auto;
  color: #222;
  font-size: 2.6rem;
  text-align: center;
}

.at3 {
  width: 100%;
  /* height: 2650px; */
  background: #fef7ee;
  position: relative;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
  flex-wrap: wrap;
}
.at3 > div {
  flex: 1;
  /* min-width: 500px; */
}

.at3 a {
  padding: 10px 30px;
  margin: auto 10px;
  border: 1px solid #e7d9ca;
  background: #e7d9ca;
  color: #222;
  transition: 0.3s;
  opacity: 0.8;
  text-transform: uppercase;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.at3 a:hover {
  background: #e7d9ca;
  color: #222;
  opacity: 1;
}

.a31 {
  top: 100px;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.a31 .a31a {
  font-size: 2.6rem;
  line-height: 2.6rem;
}

.a31a img {
  width: 300px;
  margin: auto 50px;
}

.a31a section {
  margin: 30px auto;
  margin-left: 50px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
  color: #222;
}

.a31 h3 {
  text-align: end;
  color: #222;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4rem;
  left: 55%;
}

.a31at {
  /* width: 380px; */
  margin-right: 50px;
  float: left;
  color: #222;
  line-height: 3rem;
  font-size: 2.6rem;
}

.a32 {
  /* width: 1200px; */
  margin: 0 auto;
  margin-top: 50px;
}
.flex {
  display: flex;
}

.a32a {
  flex: 1;
  /* width: 600px; */
  /* height: 1000px; */
  /* position: relative; */
  /* cursor: pointer; */
  /* padding-left: 100px; */
}

.a32a > :first-child {
  /* position: absolute; */
  /* top: -80px; */
  left: 0;
}

.a32a h6 {
  font-size: 2rem;
  line-height: 2rem;
}

.a32a h6 {
  font-size: 2.3rem;
  line-height: 2.3rem;
}

.a32a:hover {
  background: #fff;
}

.a32a section {
  margin: 30px auto;
  margin-left: 50px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
  color: #222;
}

.a32a img {
  /* width: 150px; */
  /* position: absolute; */
  /* top: -150px; */
  /* left: 250px; */
  margin-top: -30%;
}
.a32a .width-full {
  margin-top: 150px;
}

.a32at {
  /* width: 380px; */
  margin-right: 50px;
  float: right;
  color: #222;
  line-height: 3rem;
  margin: auto;
  font-size: 2.6rem;
  padding: 30px;
}

.a32at h3 {
  font-weight: 200;
  line-height: 4rem;
  font-size: 4rem;
  color: #111;
  margin-bottom: 10px;
  text-align: center;
}

.a32b {
  /* width: 600px; */
  /* height: 950px; */
  margin-top: 10rem;
  /* position: relative; */
  /* cursor: pointer; */
  /* top: 150px; */
  padding: 10%;
}

.a32b:hover {
  background: #fff;
}

.a32b section {
  margin: 30px auto;
  margin-left: 50px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
  color: #222;
}

.a32b img {
  width: 90%;
  margin: auto 50px;
}

.a32bt {
  width: 380px;
  margin-right: 50px;
  float: right;
  color: #222;
  line-height: 2.6rem;
}

.a32bt h3 {
  font-weight: 200;
  line-height: 3rem;
  color: #111;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.at3 section {
  position: relative;
}

.a33 {
  /* width: 600px; */
  margin: 0 auto;
  /* position: absolute; */
  /* top: 180px; */
  /* left: 50%; */
}

.a33a {
  /* width: 600px; */
  /* height: 950px; */
  /* position: relative; */
  /* cursor: pointer; */
  align-items: center;
}

.a33a:hover {
  background: #fff;
}

.a33a section {
  margin: 30px auto;
  margin-left: 50px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
  color: #222;
  margin-top: 4rem;
}

.a33a img {
  /* width: 500px; */
  height: 500px;
  /* margin: auto 50px; */
  /* height: 400px; */
  /* flex: 1; */
  margin-top: -10%;
  object-fit: contain;
}

.a33at {
  margin: 30px auto;
  margin-left: 50px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
  color: #222;
  font-size: 2.6rem;
  line-height: 2.6rem;
  flex-direction: column;
}

.a33at h3 {
  font-weight: 200;
  line-height: 3rem;
  color: #111;
  margin-bottom: 10px;
}

.a33b {
  /* width: 600px; */
  /* height: 600px; */
  margin-top: 10rem;
  /* position: relative; */
  /* cursor: pointer; */
  padding: 5%;
}

.a33b:hover {
  background: #fff;
}

.a33b section {
  margin: 30px auto;
  /* margin-left: 50px; */
  /* margin-right: 150px; */
  display: flex;
  justify-content: space-between;
  color: #222;
}

.a33b img {
  width: 80%;
  margin: auto 50px;
  margin-top: -10%;
  /* height: 600px; */
}


.a33bt {
  /* width: 380px; */
  /* margin-right: 50px; */
  /* float: right; */
  color: #222;
  line-height: 2.6rem;
  padding: 5%;
}

.a33bt span {
  margin-top: 3vh;
}

.a33bt h3 {
  font-weight: 200;
  line-height: 3rem;
  color: #111;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.a33b .a33b22 {
  font-size: 2rem;
  line-height: 2rem;
}

.at4 {
  /* clear: both; */
  /* width: 100%; */
  /* height: 100%; */
  /* padding: 8rem 0; */
  /* position: relative; */
  align-items: center;
  /* display: flex; */
  /* flex-direction: column; */
}
.a32:hover {
  background-color: #fff;
}
.a41 {
  /* width: 1200px; */
  /* height: 650px; */
  margin: 0 auto;
  /* position: relative; */
  align-items: center;
}

.swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-slide {
  /* width: 40vw; */

 width: 90%;

  /* z-index: -1; */

  /* border: 4px solid gray; */

  /* display: -webkit-box; */

  display: -ms-flexbox;

  /* display: -webkit-flex; */

  /* display: flex; */

  /* -webkit-box-pack: center; */

  -ms-flex-pack: center;

  /* -webkit-justify-content: center; */

  /* justify-content: center; */

  /* -webkit-box-align: center; */

  -ms-flex-align: center;

  /* -webkit-align-items: center; */

  /* align-items: center; */

  object-fit: contain;
}

.swiper-pagination {
  padding-bottom: 25px;
  padding-right: 550px;
  color: #222;
  font-size: 2.6rem;
}

.a41 > :last-child {
  /* margin-top: 45px; */
  /* margin-right: 170px; */
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  flex-direction: column;
}

.a41 section h2 {
  color: #222;
  font-size: 3rem;
  font-weight: 300;
}
.a32 img {
  margin: auto;
  margin-top: -10%;
  object-fit: contain;
  width: 80%;
  /* margin-bottom: 10%; */
}
.a42 {
  /* width: 500px; */
  /* height: 500px; */
  padding: 100px 80px;
  background: #fef7ee;
  color: #444;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: 0.3px;
  text-align: center;
  bottom: 120px;
  left: 55.5%;
  z-index: 9;
}

.a42 h3 {
  font-size: 3.9rem;
  font-weight: 200;
  color: #333;
  letter-spacing: normal;
  margin-bottom: 50px;
}

.a42 a {
  padding: 5px 30px;
  margin: auto 10px;
  border: 1px solid #e7d9ca;
  background: #e7d9ca;
  color: #222;
  transition: 0.3s;
  opacity: 0.8;
  text-transform: uppercase;
  position: absolute;
  bottom: 77px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.7em;
}

.a42 a:hover {
  background: #e7d9ca;
  color: #222;
  opacity: 1;
}

.at5 {
  width: 100%;
  padding: 6rem 0;
  border-top: 1px solid #eee;
}

.at5 ul {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.at5 a {
  color: #555;
  text-transform: uppercase;
  transition: 0.5s;
}

.at5 a:hover {
  color: #222;
}

.a32 h5,
.a32 h6 {
  color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  visibility: hidden;
}

.end {
  text-align: center;
  padding-top: 100vh;
}

.at4 h4 {
  color: #222121;
  line-height: 2rem;
  text-align: center;
  font-size: 2rem;
}

#downtime {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50vh;
  line-height: 50vh;
  font-weight: 900;
  text-align: center;
  display: flex;
  width: 100%;
  font-style: normal;
  visibility: visible;

  justify-content: center;
}
