body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(circle, #1a1a1a, #000000);
  font-family: Courier New, Courier, monospace;
}
button {
  font-family: Courier New, Courier, monospace;
}
canvas {
  display: block;
}
audio {
  display: none;
}
#musicIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url("music.png") no-repeat center;
  background-size: cover;
  z-index: 10;
}
#musicIcon.active {
  animation: spin 2s linear infinite;
  /* filter: drop-shadow(0 0 10px yellow); */
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS cho nút cài đặt PWA */
.install-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff; /* Màu nền nút */
  color: #ffffff; /* Màu chữ */
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hiệu ứng shadow */
  cursor: pointer; /* Hiển thị con trỏ tay khi hover */
  z-index: 1000; /* Đảm bảo nút hiển thị trên cùng */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu */
}

.install-button:hover {
  background-color: #0056b3; /* Màu nền khi hover */
}

/* Ngăn chọn văn bản */
* {
  user-select: none; /* Không cho phép chọn văn bản */
  -webkit-user-select: none; /* Cho phép chọn văn bản trên các trình duyệt Webkit (Chrome, Safari) */
  -moz-user-select: none; /* Cho phép chọn văn bản trên Firefox */
  -ms-user-select: none; /* Cho phép chọn văn bản trên Internet Explorer */
}
.mobile-install {
  font-size: 16px;
  padding: 10px;
}

.desktop-install {
  font-size: 18px;
  padding: 20px;
}