.dresscode_contai {
    width: 54%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    overflow-x: auto;
    box-sizing: border-box;
    transition: 2s linear;
    left: 23%;
    top: 10%;
    display: none;
}

.heading {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    color: #009900;
    text-align: center;
}

.heading small {
    color: #FF0000;
    font-weight: 300;
}

.palette30 {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    width: 50rem;
    height: 30vh;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
}

.color {
    flex: 1 0 19%; /* Điều chỉnh tỷ lệ để có khoảng cách giữa các màu */
    position: relative;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
}

.color:first-child {
    border-radius: 5px 0 0 5px;
}

.color:last-child {
    border-radius: 0 5px 5px 0;
}

.color:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.color span {
    font-size: 12px;
    transform: translateY(200%);
    position: absolute;
    font-weight: 400;
    text-align: center;
    bottom: 10px;
    left: 0;
    right: 0;
    transition: transform 0.2s ease-out;
}

.color:hover {
    opacity: 0.85;
}

.color:hover span {
    transform: translateY(0);
}

.color:active:after {
    opacity: 0.2;
}

.dresscode h1 {
    color: #aaa;
}

/* Responsive Styles */

@media (max-width: 1200px) {
    .dresscode_contai {
        width: 70%;
        left: 15%;
    }

    .palette30 {
        width: 90%;
        height: 30vh;
    }
}

@media (max-width: 768px) {
    .dresscode_contai {
        width: 85%;
        left: 7.5%;
        top: 5%;
    }

    .heading {
        font-size: 2.5rem;
    }

    .palette30 {
        width: 70%;
        height: 40vh;
    }

    .color {
        flex: 1 0 30%; /* 3 items in a row */
    }
}

@media (max-width: 480px) {
    .dresscode_contai {
        width: 90%;
        left: 5%;
    }

    .heading {
        font-size: 2rem;
    }

    .palette30 {
        width: 100%;
        height: 45vh;
    }

    .color {
        flex: 1 0 40%; /* 2 items in a row */
    }
}

@media (max-width: 320px) {
    .dresscode_contai {
        width: 95%;
        left: 2.5%;
    }

    .heading {
        font-size: 1.8rem;
    }

    .palette30 {
        width: 100%;
        height: 50vh;
    }

    .color {
        flex: 1 0 100%; /* 1 item per row */
    }
}
