body {
	margin: 0;
	overflow: hidden;
	background: radial-gradient(circle, #1a1a1a, #000000);
	font-family: Courier New, Courier, monospace;
  }
  button {
	font-family: Courier New, Courier, monospace;
  }
  canvas {
	display: block;
  }
  audio {
	display: none;
  }